<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>

<form method="POST" th:action="@{/clients/sign_in}" th:object="${client}">
    <label for="login"> login </label>
    <input name="login" type="text" id="login"/>
    <br>

    <label for="password"> password </label>
    <input name="password" type="text" id="password"/>
    <br>

    <label for="email"> email </label>
    <input name="email" type="text" id="email"/>
    <br>

    <input type="submit" value="Register">
</form>


</body>
</html>