<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Задача</title>
</head>
<body>
    <p>Новая задача</p>
    <p>login</p>
    <form th:method="post" th:action="@{/tasks/add}" th:object="${task}">
        <label for="name"> name </label>
        <input name="name" type="text" id="name" th:field="*{name}"/>
        <br>

        <label for="description"> description </label>
        <input name="description" type="text" id="description" th:field="*{description}"/>
        <br>

        <label for="date"> Дата </label>
        <input name="date" type="datetime-local" id="date" th:field="*{date}"/>
        <br>

        <label for="prior"> Приоритет </label>
        <select name="prior" id="prior" th:field="*{prior}">
            <option value=1>Срочно</option>
            <option value=2>В темпе</option>
            <option value=3>Подождёт</option>
        </select>

        <label for="category"> Категория </label>
        <select name="category" id="category" th:field="*{category}">
            <option value='OTHER'>Всякое</option>
            <option value='WORK'>Работа</option>
            <option value='HEALTH'>Здоровье</option>
            <option value='REST'>Отдых</option>
        </select>


        <input type="submit" value="New Task">
    </form>

</body>
</html>