<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поправка</title>
</head>
<body>
    <form th:method="post" th:action="@{/tasks/edit/{id}(id=${task.getId()})}" th:object="${task}">
        <label for="name"> name </label>
        <input name="name" type="text" id="name" th:field="*{name}"/>
        <br>

        <label for="description"> description </label>
        <input name="description" type="text" id="description" th:field="*{description}"/>
        <br>

        <label for="date"> email </label>
        <input name="date" type="datetime-local" id="date" th:field="*{date}"/>
        <br>

        <label for="prior"> Приоритет </label>
        <select name="prior" id="prior" th:field="*{prior}">
            <option value=1>Срочно</option>
            <option value=2>В темпе</option>
            <option value=3>Подождёт</option>
        </select>

        <input type="submit" value="Поменять">
    </form>

</body>
</html>