<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Задача</title>
</head>
<body>
    <div>
        Название: <p th:text="${task.getName()}">name</p>

        Описание: <p th:text="${task.getDescription()}">description</p>

        Сроки: <p th:text="${task.getDate()}">name</p>

        Статус:
        <span th:if="${task.isDone() == true}">Выполнено</span>
        <span th:if="${task.isDone() == false}">Невыполнено</span>

        <br>
        Приоритет:
        <span th:if="${task.getPrior() == 1}">Срочно</span>
        <span th:if="${task.getPrior() == 2}">В темпе</span>
        <span th:if="${task.getPrior() == 3}">Подождёт</span>

        <br>
        Категория:
<!--        <span th:text="${task.getCategory()}"/>-->
        <span th:if="${task.getCategory().toString() == 'OTHER'}">Всякое</span>
        <span th:if="${task.getCategory().toString() == 'WORK'}">Работа</span>
        <span th:if="${task.getCategory().toString() == 'HEALTH'}">Здоровье</span>
        <span th:if="${task.getCategory().toString() == 'REST'}">Отдых</span>

    </div>

    <a th:if="${task.isDone == false}" th:href="@{/tasks/edit/{id}(id=${task.getId()})}">
        <input type="submit" value="Поправить"/>
    </a>
    <br/>
    <a th:href="@{/tasks/delete/{id}(id=${task.getId()})}">
        <input type="submit" value="Удалить"/>
    </a>
    <br>
    <a th:href="@{/tasks/main}">
        <input type="submit" value="Ок"/>
    </a>


</body>
</html>